*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a.button {
    background-color:#0e0e52;
    color: #fff;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Sequel100-76;
    color:#0e0e52;
}

.gotoquiz{
    display: flex;
}

@font-face {
    font-family : Sequel100-96;
    src: url(sequel-100-black/Sequel100Black-96.ttf);
}

@font-face {
    font-family : Sequel100-76;
    src: url(sequel-100-black/Sequel100Black-76.ttf);
}

body{
    background-color: rgb(57,10,125);
    background: linear-gradient(41deg, rgba(57,10,125,1) 21%, rgba(14,14,82,1) 74%);
}
.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin : 30px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 45px;
    color:#0e0e52;
    font-weight: 500;
    border-bottom: 1px solid #0e0e52 ;
    padding-bottom: 30px;  
    font-family: Sequel100-96;
}

.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#0e0e52;
    font-weight: 600px;
    font-family: Sequel100-76;
}
#question{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Sequel100-76;
    color:#0e0e52;
}

#answer_buttons{
    gap: 10px;
}
.btn{
    background-color: #fff;
    color: #390a7d;
    font-weight: 500px;
    width: 47%;
    border: 1px solid #390a7d;
    padding: 10px;
    margin: 10px 5px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
   
}
.btn:hover:not([disabled]){
    background: #390a7d;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next_btn{
    background-color:#0e0e52;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#next_btn:hover{
    background: #390a7d;
}

.correct{
    background-color: #a0e87e;
}
.incorrect{
    background-color: rgb(231, 141, 141);
}
.response_img{
    width: 100%;
}
#question_image{
    border: 1px solid #390a7d;
    padding: 10px;
    margin: 10px 5px;
    text-align: left;
    border-radius: 4px;
    display: flex;
    justify-content:center ;
}
